<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <ccvonlinepayments_ideal>
                <model>CcvOnlinePaymentsMagentoMethodIdeal</model>
                <title>iDeal</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>0</sort_order>
            </ccvonlinepayments_ideal>
            <ccvonlinepayments_applepay>
                <model>CcvOnlinePaymentsMagentoMethodApplePay</model>
                <title>Apple Pay</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>0</sort_order>
            </ccvonlinepayments_applepay>
            <ccvonlinepayments_card_bcmc>
                <model>CcvOnlinePaymentsMagentoMethodCardBcmc</model>
                <title>Bancontact</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>1</sort_order>
            </ccvonlinepayments_card_bcmc>
            <ccvonlinepayments_card_maestro>
                <model>CcvOnlinePaymentsMagentoMethodCardMaestro</model>
                <title>Maestro</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>2</sort_order>
            </ccvonlinepayments_card_maestro>
            <ccvonlinepayments_card_mastercard>
                <model>CcvOnlinePaymentsMagentoMethodCardMastercard</model>
                <title>Mastercard</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>3</sort_order>
            </ccvonlinepayments_card_mastercard>
            <ccvonlinepayments_card_visa>
                <model>CcvOnlinePaymentsMagentoMethodCardVisa</model>
                <title>Visa</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>4</sort_order>
            </ccvonlinepayments_card_visa>
            <ccvonlinepayments_klarna>
                <model>CcvOnlinePaymentsMagentoMethodKlarna</model>
                <title>Klarna</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>1</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>5</sort_order>
            </ccvonlinepayments_klarna>
            <ccvonlinepayments_paypal>
                <model>CcvOnlinePaymentsMagentoMethodPaypal</model>
                <title>Paypal</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>6</sort_order>
            </ccvonlinepayments_paypal>
            <ccvonlinepayments_card_amex>
                <model>CcvOnlinePaymentsMagentoMethodCardAmex</model>
                <title>American Express</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>7</sort_order>
            </ccvonlinepayments_card_amex>
            <ccvonlinepayments_sofort>
                <model>CcvOnlinePaymentsMagentoMethodSofort</model>
                <title>Sofort</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>8</sort_order>
            </ccvonlinepayments_sofort>
            <ccvonlinepayments_giropay>
                <model>CcvOnlinePaymentsMagentoMethodGiropay</model>
                <title>Giropay</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>9</sort_order>
            </ccvonlinepayments_giropay>
            <ccvonlinepayments_banktransfer>
                <model>CcvOnlinePaymentsMagentoMethodBanktransfer</model>
                <title>Banktransfer</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <is_offline>0</is_offline>
                <sort_order>10</sort_order>
            </ccvonlinepayments_banktransfer>
            <ccvonlinepayments_paybylink>
                <model>CcvOnlinePaymentsMagentoMethodPayByLink</model>
                <title>Pay by Link</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>0</is_gateway>
                <can_order>1</can_order>
                <can_capture>1</can_capture>
                <can_authorize>0</can_authorize>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>1</can_use_internal>
                <is_offline>0</is_offline>
                <sort_order>11</sort_order>
            </ccvonlinepayments_paybylink>
        </payment>
    </default>
</config>
